
.champ-select {
  margin-top: 40px;
}

.champ-select__control {
  background-color: #FFF2E2;
  width: calc(100vw - 2rem);
  font-size: 1.2rem;
  color: #41414D;
  font-family: Poppins;
  font-weight: 500;

}

.champ-select__menu-list {
  background: #FFF2E2
}

.champ-select__option{
  color: #41414D;
}